<article>
	<button class="btn btn-default" routerLink="/gallery">Back to Gallery</button>
	<button class="btn btn-default" routerLink="/recipe/edit/{{ recipe.slug }}">Edit</button>
	<h1 class="title">{{ recipe.title }}</h1>
	<sub class="description">{{ recipe.description }}</sub>
	<sub class="yield">{{ recipe.yield }}</sub>
	<div class="ingredient-group" *ngFor="let group of recipe.ingredients">
		<h2>{{ group.name }}</h2>
		<ul>
			<li *ngFor="let ingredient of group.ingredients">{{ ingredient.name }}</li>
		</ul>
	</div>
</article>
